/* ### Content ### */
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	word-wrap: break-word;
}

code, kbd, pre, samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre code {
	display: block;
	padding: 4px;
	font-size: inherit;
	color: inherit;
	white-space: pre;
	background-color: transparent;
	border-radius: 0;
}

code.language-plain {
	line-height: normal;
}

code.language-cli {
	color: white;
	background: #333;
}

code.language-cli::before {
	content: '> ';
}

pre {
	display: block;
	margin: 5px 0px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f8f6f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	tab-size: 3;
	-moz-tab-size: 3;
	-o-tab-size: 3;
	max-height: calc(100vh - 60px);
	max-width: 100%;
	overflow: auto;
	position: relative;
}

.collapsed {
	overflow: hidden;
	max-height: 60px;
    cursor: pointer;	
}

.collapsed * {
	opacity: 0.6;
}

.collapsed:hover * {
	opacity: 0.35;
}

.collapsed:hover:after {
	opacity: 0.6;
}

.collapsed:after {
	content: "";
	opacity: 0.4;
	background-color: #ddd;
	display: inline-block;
	width: 30px;
	height: 32px;
	position: absolute;
	top: 12px;
	left: 45%;
	background: url(expand.svg);
	background-size: cover;
}

.collapsible-caption {
	margin: 20px 0px -11px -10px;
    border: 1px solid #eee;
    padding: 5px;
    width: max-content;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  	width: -moz-max-content;    /* Firefox/Gecko */
  	width: -webkit-max-content; /* Chrome */
    z-index: 1;
    background: white;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    border-bottom: hidden;
    padding-left: 9px;
    padding-right: 8px;
}

.collapsible-caption + div.expanded,  .collapsible-caption + div.collapsed {
	border-radius: 0px 4px 4px 4px;
}

div.expanded, div.collapsed {
	border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.expanded {
    max-height: initial;
}

div.expanded {
    padding-top: 43px;
}

.expanded {
	max-height: initial;
}

.expanded .collapse-button:hover {
	opacity: 0.6;
}

.expanded .collapse-button {
	position: absolute;
	left: 45%;
	top: 12px;
	opacity: 0.2;
	width: 32px;
	height: 32px;
	background: url(collapse.svg);
	background-size: cover;
	cursor: pointer;
}

table {
	border: 1px solid #dedede;
	background-color: transparent;
    word-break: keep-all;
	display: inline-block;
	overflow: auto;
}

td, th {
	max-width: 60ch;
}

table>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>th,
	table>thead:first-child>tr:first-child>th, table>caption+thead>tr:first-child>td,
	table>colgroup+thead>tr:first-child>td, table>thead:first-child>tr:first-child>td
	{
	border-top: 0;
}

table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	text-transform: none;
	background-color: darkorange;
	color: white;
	text-align: left;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td,
	table>tbody>tr>td, table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

p {
	margin: 10px 0;
}

blockquote {
	border-left: 7px solid #9ea0a4;
	margin-left: 0px;
	padding-left: 24px;
	font-weight: 500;
	max-width: 83ch;
}

article li {
	text-align: justify;
}

.anchor-auto-link {
	display: none;
    width: var(--anchor-link-icon-offset);
    height: 1em;
    background-image: url('anchor-link.svg');
    position: absolute;
    left: calc(var(--anchor-link-icon-offset) * -1);

    background-size: 1ch;
    background-repeat: no-repeat;
    background-position-y: center;
}

:target {
	color: orange;
	letter-spacing: 0.2ch;
	transition-property: color, letter-spacing;
	transition-duration: 0.15s;
}

.deadlink {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.7;
	text-decoration: none;
}

.toc {
	background-color: whitesmoke;
	padding: 20px;
	color: gray;
	display: inline-block;
	line-height: 1.3;
}

.toc ol {
	counter-reset: item;
	padding-left: 10px;
}

.toc ol li {
	display: block
}

#tags {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

#technicalLinks {
	margin-top: 30px;
}

/* Image Modal */

#full-content img {
	cursor: pointer;
}

#full-content img:hover {
	opacity: 0.85;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 65px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 95%;
  max-height: 95%;
  background-color: white;
}

/* Add Animation - Zoom in the Modal */
.modal-content { 
  animation-name: zoom;
  animation-duration: 0.5s;
}

/* Wizard*/

.wizard-nav-wrapper {
    top: 0px;
    background: white;
    z-index: 1;
    position: sticky;
    min-height: 45px; 
}

.wizard-nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid orange;
    padding-bottom: 5px;
}

.wizard-step {
    display: inline-block;
    padding: 1px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: darkorange;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
}

.wizard-title {
    display: inline-block;
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

.wizard-content {

}

.hidden {
	visibility: hidden;
}

@keyframes zoom {
  from {transform:scale(0.6)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media ( min-width : 821px) {
	h1:hover .anchor-auto-link,
	h2:hover .anchor-auto-link,
	h3:hover .anchor-auto-link,
	h4:hover .anchor-auto-link,
	h5:hover .anchor-auto-link,
	h6:hover .anchor-auto-link {
		display: inline-block;
	}
}


@media only screen and (max-width: 700px){
  .modal {
    padding-top: 5%;
  }
  
  .close {
    padding: 15px;
    background-color: #333;
    top: 5px;
    right: 5px;
  }
}

@media ( min-width : 170ch) and ( min-height : 600px) {
	.toc {
		padding: 10px 20px;
		max-width: 300px;
		position: fixed;
		right: 30px;
		top: calc(60px + 35px);
		max-height: calc(100% - 160px);
		overflow-y: auto;
	}
	.inner-container {
		max-width: calc(100% - 300px);
	}
}