<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright BRAINTRIBE TECHNOLOGY GMBH, Austria, 2002-2022

This library is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along with this library; See http://www.gnu.org/licenses/.
-->
<?eclipse version="3.4"?>
<plugin>   
   <extension
         point="org.eclipse.ui.preferencePages">
          <page          
          	category="com.braintribe.devrock.main"
            class="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            id="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            name="Greyface ">
     	 </page>
     	 <page
     	 	category="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            class="com.braintribe.devrock.greyface.settings.preferences.ScanSettingsPreferencesPage"
            id="com.braintribe.devrock.greyface.settings.preferences.ScanSettingsPreferencesPage"
            name="Scan ">
     	 </page>
     	 <page
     	 	category="com.braintribe.devrock.greyface.settings.preferences.GreyfacePreferencePage"
            class="com.braintribe.devrock.greyface.settings.preferences.UploadSettingsPreferencesPage"
            id="com.braintribe.devrock.greyface.settings.preferences.UploadSettingsPreferencesPage"
            name="Upload ">
     	 </page>
   </extension>
   

    <extension point="org.eclipse.ui.startup">
     	<startup class="com.braintribe.devrock.greyface.StartupHandler">
      	</startup>
   	</extension>

   
    <extension point="org.eclipse.ui.commands">
     	<category id="com.braintribe.devrock.greyface.plugins.commands.category" name="Greyface Commands"/>
     	<command categoryId="com.braintribe.devrock.greyface.plugins.commands.category" defaultHandler="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" id="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" name="Upload artifacts"/>     	
    </extension>
   
    <extension point="org.eclipse.ui.commandImages">
     	<image commandId="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" icon="icons/repositories.gif"/>
     </extension>
     
     <extension point="org.eclipse.ui.menus">
	     <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
	        <toolbar id="com.braintribe.devrock.greyface.plugins.commands.toolbar1">
	           <command commandId="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" id="com.braintribe.devrock.greyface.plugins.commands.tb.command1" style="push" tooltip="Upload artifacts to the home repositories"/>
	           <separator name="additions" visible="false"/>
	        </toolbar>
	     </menuContribution>
     </extension>

	 <!-- context menu -->
   <extension point="org.eclipse.ui.menus">				
		<menuContribution allPopups="true" locationURI="menu:com.braintribe.devrock.main?after=main.additions.misc">	        
	        <!-- greyface -->
	        <command commandId="com.braintribe.devrock.greyface.commands.upload.GreyfaceViewStarter" style="push" label="Open Greyface's view" tooltip="Upload artifacts to the home repositories"/>   				
		</menuContribution>
	</extension>
     
     	
  	<extension point="org.eclipse.ui.views">
	  	<category id="com.braintribe.devrock" name="Devrock's Views"/>
		<view 	id="com.braintribe.devrock.greyface.GreyfaceView"
				name="Greyface's View"
				category="com.braintribe.devrock"
				class="com.braintribe.devrock.greyface.view.GreyfaceView"
				icon="icons/repositories.gif">
		</view>
	</extension>
</plugin>
