article > ul > li > ul > li {

margin-top: 5px;

}

article > ul > li {

margin-top: 5px;
    
}

article > ol > li {
    
    margin-top: 5px;
        
}

article > ol > li > ol > li {
    
    margin-top: 5px;
        
}