<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- 
 ============================================================================
 Braintribe IT-Technologies GmbH - www.braintribe.com
 Copyright Braintribe IT-Technologies GmbH, Austria, 2002-2015 - All Rights Reserved
 It is strictly forbidden to copy, modify, distribute or use this code without written permission
 To this file the Braintribe License Agreement applies.
 ============================================================================

-->



<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
       	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
       	
" default-lazy-init="false">

<bean id="log4jInitialization"
    class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetClass"
        value="org.springframework.util.Log4jConfigurer" />
    <property name="targetMethod" value="initLogging" />
    <property name="arguments">
        <list>
            <value>log4j.xml</value>
        </list>
    </property>
</bean>

<bean id="test" class="javax.swing.JButton" depends-on="log4jInitialization"/>

<bean id="test2" class="javax.swing.JButton" depends-on="timer">
</bean>


<bean id="timer" class="org.springframework.scheduling.timer.TimerFactoryBean">
    <property name="scheduledTimerTasks">
        <list>
            <bean class="org.springframework.scheduling.timer.ScheduledTimerTask">
                <property name="runnable">
                    <bean class="com.braintribe.spring.test.Timer"/>
                </property>
            </bean>
        </list>
    </property>
</bean>

</beans>
