<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright BRAINTRIBE TECHNOLOGY GMBH, Austria, 2002-2022

This library is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along with this library; See http://www.gnu.org/licenses/.
-->
<?eclipse version="3.4"?>
<!-- plugin.xml for the Debug Module Builder, by pit -->
<plugin>	 
  
    
    <!-- commands --> 
    <extension point="org.eclipse.ui.commands">
        <category id="com.braintribe.devrock.dmb.commands.category" name="Debug Moduel Builder Commands" />
        <!-- tribefire services nature -->
         <command categoryId="com.braintribe.devrock.dmb.commands.category" defaultHandler="com.braintribe.devrock.dmb.commands.AddTribefireServicesNature" id="com.braintribe.devrock.dmb.commands.AddTribefireServicesNature" name="Assign the Tribefire Services nature"/>
        <command categoryId="com.braintribe.devrock.dmb.commands.category" defaultHandler="com.braintribe.devrock.dmb.commands.RemoveTribefireServicesNature" id="com.braintribe.devrock.dmb.commands.RemoveTribefireServicesNature" name="Remove the Tribefire Services nature"/>
    </extension>
    
     <!-- command icons -->
   <extension point="org.eclipse.ui.commandImages">
     <image commandId="com.braintribe.devrock.dmb.commands.AddTribefireServicesNature" icon="icons/module.carrier.png"/>
     <image commandId="com.braintribe.devrock.dmb.commands.RemoveTribefireServicesNature" icon="icons/module.carrier.png"/>               
   </extension>
   
   <extension point="org.eclipse.ui.menus">             
	   <!-- main menu -->
	   	<menuContribution allPopups="true" locationURI="menu:com.braintribe.devrock.maintenance?after=main.maintenance.nature">
	   		   <!-- build all debug-module projects -->
			   <dynamic class="com.braintribe.devrock.dmb.commands.DynamicForceAllProjectsBuild" id="com.braintribe.devrock.dmb.commands.DynamicForceAllProjectsBuild" />			   
	   	</menuContribution>
   
	   <!-- context menu -->
        <menuContribution allPopups="true" locationURI="popup:com.braintribe.devrock.popup?after=popup.natures">
	        <menu id="com.braintribe.devrock.dmb" label="Debug-Module support" >
	        
	        <!-- add nature -->
	        
	             <dynamic class="com.braintribe.devrock.dmb.commands.DynamicProjectAddDebugModuleNatureCommandItem" id="com.braintribe.devrock.dmb.commands.DynamicProjectAddDebugModuleNatureCommandItem">    
	                <visibleWhen>    
	                    <with variable="activeMenuSelection">
	                        <iterate>                                                       
	                            <adapt type="org.eclipse.core.resources.IProject">
	                                <and>                               
	                                    <test property="org.eclipse.core.resources.open" value="open"/>                                                                                                 
	                                    <not>
	                                        <test 
	                                          property="org.eclipse.core.resources.projectNature" 
	                                          value="com.braintribe.devrock.artifactcontainer.natures.TribefireServicesNature" />
	                                    </not>
	                                </and>
	                            </adapt>                                
	                        </iterate>
	                    </with>    
	                </visibleWhen>
	            </dynamic>
	            <!-- remove nature -->
	            <dynamic class="com.braintribe.devrock.dmb.commands.DynamicProjectRemoveDebugModuleNatureCommandItem" id="com.braintribe.devrock.dmb.commands.DynamicProjectRemoveDebugModuleNatureCommandItem">    
	                <visibleWhen>    
	                    <with variable="activeMenuSelection">
	                        <iterate>                           
	                            <adapt type="org.eclipse.core.resources.IProject">
	                            <and>                               
	                                    <test property="org.eclipse.core.resources.open" value="open"/> 
	                                    <test 
	                                        property="org.eclipse.core.resources.projectNature" 
	                                        value="com.braintribe.devrock.artifactcontainer.natures.TribefireServicesNature" />
	                            </and>
	                            </adapt>                                                                                                                        
	                        </iterate>
	                    </with>    
	                </visibleWhen>
	            </dynamic>                				    		        
	            <!-- build selected debug-module projects -->
			   <dynamic class="com.braintribe.devrock.dmb.commands.DynamicForceProjectBuild" id="com.braintribe.devrock.dmb.commands.DynamicForceProjectBuild"/>
	            <!-- anchor for attachements -->
	            <separator name="additions" visible="false"/>               
           </menu>  
        </menuContribution>
    </extension>

    <!-- nature --> 
     <extension point="org.eclipse.core.resources.natures" id="com.braintribe.devrock.artifactcontainer.natures.TribefireServicesNature" name="Tribefire Services">
        <runtime>
            <run class="com.braintribe.devrock.artifactcontainer.natures.TribefireServicesNature"/>        
        </runtime>        
        <builder id="com.braintribe.devrock.dmb.builder.DebugModuleBuilder"/>        
    </extension>
        
    <!-- builder -->
    <extension id="com.braintribe.devrock.dmb.builder.DebugModuleBuilder" name="DebugModuleBuilder" point="org.eclipse.core.resources.builders">
        <builder hasNature="true">
            <run class="com.braintribe.devrock.dmb.builder.DebugModuleBuilder">
                <parameter name="optimize" value="true" />
                <parameter name="comment" value="Debug Module Builder" />
            </run>
        </builder>
    </extension>
    
    <!-- MARKER -->    
    <extension id="com.braintribe.devrock.dmb.marker.reason" point="org.eclipse.core.resources.markers">
    	<super type="org.eclipse.core.resources.problemmarker"/>   
   		<attribute name="reason"/>
   		<persistent value="false"/>
    </extension>
  
     <!-- DECORATOR -->     
    <extension point="org.eclipse.ui.decorators">          
      <decorator
            id="com.braintribe.devrock.dmb.decorators.TribefireServicesNatureDecorator"
            label="Module carrier decorator" state="true" lightweight="true"
            class="com.braintribe.devrock.dmb.decorators.TribefireServicesNatureDecorator"
            location="TOP_LEFT"
            objectClass="org.eclipse.core.resources.IResource" 
            adaptable="true">           
            <description>
                A decorator to show whether the project has a tribefire services nature  
            </description>
        </decorator>
  </extension>

</plugin>
