<?xml version = '1.0' encoding = 'UTF-8' ?>
<XMI xmi.version = '1.2' xmlns:UML = 'org.omg.xmi.namespace.UML' timestamp = '$timestamp'>
	<XMI.header>    
		<XMI.documentation>
			<XMI.exporter>ArgoUML (using Netbeans XMI Writer version 1.0)</XMI.exporter>
			<XMI.exporterVersion>0.34(6) revised on \$Date: 2010-01-11 22:20:14 +0100 (Mon, 11 Jan 2010) \$ </XMI.exporterVersion>
		</XMI.documentation>
		<XMI.metamodel xmi.name="UML" xmi.version="1.4"/>
	</XMI.header>
	<XMI.content>
	</XMI.content>
</XMI>