<UML:Stereotype xmi.id="$id" name="$name" isSpecification="false" isRoot="false" isLeaf="false" isAbstract="false" xmlns:UML = 'org.omg.xmi.namespace.UML'>
	<UML:Stereotype.baseClass>$class</UML:Stereotype.baseClass>
</UML:Stereotype>
