{
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "plugins": ["svelte"],
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "svelteSortOrder": "scripts-markup-styles",
  "tabWidth": 2,
  "trailingComma": "all"
}
